.button {
  --background-color: rgb(15, 13, 13);
  --border-color: var(--accent1);
  --border-width: 0.07em;
  --edge-size: 0.5em;

  font-size: 1rem;
  color: var(--text2);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--ff-mono, monospace);

  cursor: pointer;
  background: var(--background-color);
  padding: 0.5em 1.5em;
  border: 0;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  clip-path: polygon(
    var(--edge-size) 0%,
    100% 0,
    100% calc(100% - var(--edge-size)),
    calc(100% - var(--edge-size)) 100%,
    0 100%,
    0% var(--edge-size)
  );

  // Make sure pseudo-elements work
  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &::before {
    background: var(--border-color);
    z-index: -2;
  }

  &::after {
    background: var(--background-color);
    clip-path: polygon(
      var(--border-width) calc(var(--edge-size) + var(--border-width) * 0.5),
      calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width),
      calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width)) calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
      var(--border-width) calc(100% - var(--border-width))
    );
  }

  &:hover {
    color: black;
  }

  &:hover::after {
    clip-path: polygon(
      calc(100% - var(--border-width)) calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
      calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width)) calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width))
    );
  }
}
