@import 'mixins'; 

.footer {
  padding: 3em;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__text {
    font-size: 0.8rem;
    letter-spacing: 0.2ch;
    color: var(--text2);
    opacity: 0.5;
    text-transform: uppercase;
  }
  &__logo {
    width:100%;
    max-width: 400px;
    margin: auto;
    text-wrap:balance;
    img {
      padding-bottom:1rem;
    }
    a {
      display: flex;
      align-items: center;
    }
  }
}
