html {
    --text: hsl(0, 0%, 20%);
    --text2: hsl(0, 0%, 80%);
    --accent1: #D7A200;
    --accent2: rgba(255, 255, 255, .8);
    --bkg1: hsl(0, 0%, 10%);
    --overlay: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));


    --ff-title: 'Microgramma-bold';
    --ff-subtitle:'Microgramma';
}