@import 'styles/mixins';

.footer {
  padding: 3em;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__text {
    font-size: 0.8rem;
    letter-spacing: 0.2ch;
    color: var(--text2);
    opacity: 0.5;
    text-transform: uppercase;
  }
  &__logo {
    width: 400px;
    margin: auto;
    // @include tablet() {
    //   width: 160px;
    //   padding: 0px;
    // }
    a {
      display: flex;
      align-items: center;
    }
  }
}
