@import 'styles/mixins';
@import 'styles/variables';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------------------------------- */
/*                                    Globals                                 */
/* -------------------------------------------------------------------------- */


@font-face {
  font-family: 'Microgramma-bold';
  src: url('/fonts/Microgramma-bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Microgramma';
  src: url('/fonts/Microgramma.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Thedus-Condensed';
  src: url('/fonts/Thedus-Condensed.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Encode';
  src: url('/fonts/EncodeSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source';
  src: url('/fonts/SourceCodePro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}


html,
body {
  background:hsl(0, 0%, 10%);
  padding: 0;
  margin: 0;
  font-family:var(--ff-text);
}

p {
  line-height:1.4rem;
  font-size: clamp(.8rem, 1.8vw, 1rem);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.vignette {
  box-shadow: inset 0 0 5em 1em #000;
  z-index: 2;
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

// only used on /slider
.data-top-left {
  color:var(--text2);
  font-size:.6rem;
  position:absolute;
  top:-4px;
  left:60px;
  z-index: 2;
}
.data-top-right {
  color:var(--text2);
  font-size:.6rem;
  position:absolute;
  top:-4px;
  right:60px;
  z-index: 2;
}
.data-bottom-left {
  color:var(--text2);
  font-size:.6rem;
  position:absolute;
  bottom:-4px;
  left:60px;
  z-index: 2;
}
.data-bottom-right {
  color:var(--text2);
  font-size:.6rem;
  position:absolute;
  bottom:-4px;
  right:60px;
  z-index: 2;
}


/* -------------------------------------------------------------------------- */
/*                            Primary Navigaton Bar                           */
/* -------------------------------------------------------------------------- */
nav {
  display:none;
  position:fixed;
  width:100%;
  top: 0;
  z-index: 999;
  background:rgba(0,0,0,.8);
  svg {
    display:flex;
  }
  ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
  }
  .nav-bar { 
    --gap:1.5em;
    color:var(--text2);
    display:flex;
    align-items:center;
    justify-content:center;
    padding:10px 20px;
    height:100%;
    @include tablet() {
      height:60px;
    }
    .logo {
      width:250px;
      margin:auto;
      @include tablet() {
        width: 160px;
        padding:0px;
      }
      a {
        display: flex;
        align-items: center;
      }
    }
    .nav-menu { 
      display:flex;
      grid-gap: var(--gap);
      text-transform: uppercase;
      font-weight:400;
      letter-spacing: 1px;
      pointer-events: none;
      & > * {
        pointer-events:auto;
        transition: 300ms opacity;
      }
      // mobile menu
      @include tablet() {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        text-align: center;
        padding: 25px 25px 50px 25px;
        font-size:1.4rem;
        width: 100%;
        background-color: var(--accent1);
        z-index:9999;
      }
    }
    ul.nav-menu:hover > {
      li {
        opacity: 0.5;
        @include tablet() {
          opacity: 1;
        }
      }
      li:hover {
        opacity: 1;
      }
    }
    .showMenu {
      display:flex;
      @include tablet() {
        display:none;
      }
    }
    .user-menu {
      display:flex;
      align-items: center;
      grid-gap:var(--gap);
      padding-left: var(--gap);
    }
    .icon {
      width:1em;
    }
    .hamburger {
      display: none;
      background: none;
      font-size:1rem;
      border: none;
      color:white;
      padding:0px;
      &:hover {
        cursor:pointer;
      }
      @include tablet() {
        display:block;
        padding-right:var(--gap);
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                 Footer                                     */
/* -------------------------------------------------------------------------- */

footer {
  padding:3em;
  background:black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    font-size:.8rem;
    letter-spacing: .2ch;
    color:var(--text2);
    opacity:.5;
    text-transform: uppercase;
  }
}




// swiper 


.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(65, 65, 65);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}



/* -------------------------------------------------------------------------- */
/*                               Scan Lines                                   */
/* -------------------------------------------------------------------------- */


/* REGULAR SCANLINES SETTINGS */

    // width of 1 scanline (min.: 1px)
    $scan-width: 2px;
    // emulates a damage-your-eyes bad pre-2000 CRT screen ♥ (true, false)
    $scan-crt: true;
    $scan-fps: 60;

    $scan-color: rgba(#000, .1);

    $scan-z-index: 9999999; 

/* MOVING SCANLINE SETTINGS */

    // moving scanline (true, false)
    $scan-moving-line: true;

    // opacity of the moving scanline
    $scan-opacity: .9;

/* MIXINS */

    // apply CRT animation: @include scan-crt($scan-crt);
    @mixin scan-crt($scan-crt) {
        @if $scan-crt == true {
            animation: scanlines 6s steps($scan-fps) infinite;
        }
        @else { animation: none; }
    }

    // apply CRT animation: @include scan-crt($scan-crt);
    @mixin scan-moving($scan-moving-line) {
        @if $scan-moving-line == true {
            animation: scanline 4s linear infinite;
        }
        @else { animation: none; }
    }

/* CSS .scanlines CLASS */

    .scanlines {
        position: relative;
        overflow: hidden; // only to animate the unique scanline

        &:before,
        &:after {
            display: block;
            pointer-events: none;
            content: '';
            position: absolute;
        }

        // unique scanline travelling on the screen
        &:before {
            width: 100%;
            height: $scan-width * 2;
            z-index: $scan-z-index + 1;
            background: $scan-color;
            opacity: $scan-opacity;
            @include scan-moving($scan-moving-line);
            position: fixed; 
            bottom: 100%;
        }

        // the scanlines, so!
        &:after {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: $scan-z-index;
            background: linear-gradient(
                to bottom,
                transparent 50%,
                $scan-color 0%
            );
            background-size: 100% $scan-width*2;
            @include scan-crt($scan-crt);
        }  
    }

/* ANIMATE UNIQUE SCANLINE */
    @keyframes scanline {
        0% {
            // transform: translate3d(0,200000%,0);
            bottom: 0%; // to have a continuous scanline move, use this line (here in 0% step) instead of transform and write, in &:before, { position: absolute; bottom: 100%; }
            
        }
    }

    @keyframes scanlines {
        0% {
            background-position: 0 50%;
            // bottom: 0%; // to have a continuous scanline move, use this line (here in 0% step) instead of transform and write, in &:before, { position: absolute; bottom: 100%; }
        }
    }



bg-white {
  background:white;
}
bg-black {
  background:black;
}