@import 'styles/mixins';

.main {
  text-align:center;
  height:calc(100vh - 80px);
  display:flex;
  flex-direction: column;
  gap:70px;
  justify-content: center;
  align-items: center;
  h1 {
    font-size:5rem;
    color:var(--text2);
    text-transform: capitalize;

  }
  .locations {
    display:flex;
    gap:20px;
    color:var(--text);
    text-transform: uppercase;
  }
}

.section {
  background:black;
  padding:500px 0;
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size:2rem;
    color:var(--text2);
  }
}