@import "styles/mixins";

.bgImage {
  z-index:0;
}

.hero {
  background-image: url("/inspiration-photos/7.jpeg"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  height: 100vh;
  max-height: -webkit-fill-available;
  width: 100%;
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > div {
    margin:0px 10px;
    z-index: 2;
  }
  .title {
    font-size: clamp(1rem, 4vw, 2.4rem);
    color: var(--text2);
    text-transform: uppercase;
    font-family: var(--ff-title);
  }
  .logo {
    width:100%;
    margin: 2% 0px 4% 0px;
  }
  .subTitle {
    font-size: clamp(.8rem, 2.7vw, 1.8rem);
    color: var(--text2);
    text-transform: uppercase;
    font-weight: 800;
    font-family: var(--ff-subtitle);
    word-spacing: -0.1em;
  }
  .locations {
    display: flex;
    flex-wrap: wrap;
    color: var(--text2);
    font-size: clamp(.8rem, 1.9vw, 1.2rem);
    opacity: 0.4;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    margin:2em auto;
    li + li::before {
      content: "▪";
      bottom: 2px;
      padding: 0px 1ch;
      position: relative;
    }
  }
}

:is(.about, .engineering, .exploration, .terraforming) {
  padding: 2em;
  background-blend-mode: overlay;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  color: var(--text2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  min-height: calc(100vh - (2em * 2));
  
  @include tablet() {
    flex-direction: column;
  }
  h1 {
    font-size: clamp(1.2rem, 2vw, 3rem);
    color: var(--text2);
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--ff-title);
  }
  div {
    max-width: 900px;
    z-index: 3;
  }
}

.about {
  background-image: url("/inspiration-photos/3.jpeg"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  text-align: center;
  .row {
    flex-direction: column !important;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    a {
      display: block;
      border: 1px solid white;
      padding: 1em 2em;
      text-transform: uppercase;
      &:hover {
        background: var(--accent1);
        border-color: var(--accent1);
        color: var(--text);
      }
    }
    @include tablet() {
      grid-template-columns: 1fr;
    }
  }
}

.engineering {
  background-image: url("/inspiration-photos/2.jpeg"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.exploration {
  background-image: url("/inspiration-photos/8.jpeg"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.terraforming {
  background-image: url("/inspiration-photos/6.jpeg"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

#engineering {
  scroll-behavior: smooth;
}

.fullOverlay {
	--overlayMargin: clamp(1em, 3vw, 2em);
	pointer-events: none;
	opacity: .8;
	width:      calc(100% - calc(var(--overlayMargin) * 2));
  height:     calc(100% - calc(var(--overlayMargin) * 2)); 
  z-index:    2;
  top:        var(--overlayMargin); 
  left:       var(--overlayMargin);  
  position:   fixed; 
	--corner-weight:2px;
	background: 
		// left (top, bottom)
		linear-gradient(to right, var(--accent1) var(--corner-weight), transparent var(--corner-weight)) 0 var(--corner-weight),
    linear-gradient(to right, var(--accent1) var(--corner-weight), transparent var(--corner-weight)) 0 calc(100% - var(--corner-weight)),
		
		// right (top, bottom)
    linear-gradient(to left, var(--accent1) var(--corner-weight), transparent var(--corner-weight)) 100% var(--corner-weight),
    linear-gradient(to left, var(--accent1) var(--corner-weight), transparent var(--corner-weight)) 100% calc(100% - var(--corner-weight)),
    
		//top (left, right)
		linear-gradient(to bottom, var(--accent1) var(--corner-weight), transparent var(--corner-weight)) 0 0,
    linear-gradient(to bottom, var(--accent1) var(--corner-weight), transparent var(--corner-weight)) 100% 0,

		//bottom (left, right)
    linear-gradient(to top, var(--accent1) var(--corner-weight), transparent var(--corner-weight)) 0 100%,
    linear-gradient(to top, var(--accent1) var(--corner-weight), transparent var(--corner-weight)) 100% 100%;
		
  background-repeat: no-repeat;
  background-size: 30px 30px;
  @include tablet() {
    background-size:3vw 3vw;
    
  }
}

.dataTopLeft {
  color:var(--text2);
  font-size:.6rem;
  position:absolute;
  top:-4px;
  left:45px;
  z-index: 2;
  @include tablet(){
    left:var(--data-position);
  }
}

.dataTopRight {
  color:var(--text2);
  font-size:.6rem;
  position:absolute;
  top:-4px;
  right:45px;
  z-index: 2;
  @include tablet(){
    right:var(--data-position);
  }
}
.dataBottomLeft {
  color:var(--text2);
  font-size:.6rem;
  position:absolute;
  bottom:-4px;
  left:45px;
  z-index: 2;
  @include tablet(){
    left:var(--data-position);
  }
}

.dataBottomRight {
  color:var(--text2);
  font-size:.6rem;
  position:absolute;
  bottom:-4px;
  right:45px;
  z-index: 2;
  @include tablet(){
    right:var(--data-position);
  }
}