@import "mixins";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  gap:0.75rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 2rem;
  z-index: 75;
  font-size: 1rem;
  text-transform: uppercase;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));
  color: var(--accent1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  @include mobile() {
    padding: 0 1.25rem;
  }

  .left {
    justify-content: flex-end ;
  }
  .right {
    justify-content: flex-start;
  }

  .left, .right {
    flex: 1;
    display: flex;
    gap: 1.5rem;

    a {
      color: var(--text2);
      transition: color 0.3s ease;
      &:hover {
        color: var(--accent1);
      }
    }
    @include mobile() {
      display:none;
    }
  }

  .center {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 0;
    opacity: 0;
    padding: 0;
    transition: width 0.25s ease, opacity 1s ease, padding 0.5s ease;
    @include mobile() { 
      width:4rem;
    }
    svg {
      width: 4rem;
      height: 4rem;
      flex-shrink: 0;
      @include mobile() {
        width: 3rem;
        height: 3rem;
      }
    }
  }
  
  .centerVisible {
    width: 5rem;
    opacity: 1;
    padding: 0 1rem;
    @include mobile() {
      width: 4rem;
    }
  }
  

  &.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20%);
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

.menuButton {
  // position:absolute;
  --overlayMargin: clamp(2em, 4.5vw, 3em);
  top: var(--overlayMargin);
  right: var(--overlayMargin);
  display: none;
  padding:0.5rem;
  background: none;
  border: none;
  color: var(--text2);
  @include mobile() {
    display: block;
  }
  
  
  svg {
    width: 1.75rem;
    height: 1.75rem;
    color: var(--text2);
    transition: color 0.3s ease;
    &:hover {
      color: var(--accent1);
    }
  }
}

.modalNav {
  position: fixed;
  inset: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.975);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  animation: fadeIn 0.3s ease;

  a {
    font-size: 1.5rem;
    color: var(--text2);
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.2s ease;
    &:hover {
      color: var(--accent1);
    }
  }
}

.modalMenu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--text2);
  cursor: pointer;
  z-index: 1000;
  &:hover {
    color: var(--accent1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown {
  position: relative;

  .dropdownToggle {
    padding:0px;
    background: transparent;
    border: none;
    color: var(--text2);
    font: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      color: var(--accent1);
    }
  }

  .chevron {
    transition: transform 0.3s ease;
    width: 0.75rem;
    height: 0.75rem;
  }

  .open {
    transform: rotate(180deg);
  }

  .dropdownMenu {
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(0, 0, 0, 0.793);
    border:1px solid var(--accent1);  
    // padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding:1rem;
    z-index: 10;

    a {
      color: var(--text2);
      text-decoration: none;

      &:hover {
        color: var(--accent1);
      }
    }
  }
}